@font-face {
  font-family: "Blinker";
  src: url(fonts/Blinker/Blinker-Regular.ttf);
  font-weight: normal;
}

:root {
  --color-primary: #fb5f22;
  --color-primary-m1: #fb713b;
  --color-primary-m2: #fc8354;
  --color-primary-m-1: #fb4d09;
  --color-primary-alpha: #fb5f2288;

  --color-surface: #28272D;
  --color-surface-a10: #33313a;
  --color-surface-a20: #494750;
  --color-surface-a30: #605f67;
  --color-surface-a40: #79777e;
  --color-surface-a50: #929197;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Blinker", sans-serif;
  color: white;
  font-size: 14px;
  background-color: #404040;
}


body {
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--color-surface-a10);
}

h2 {
  font-size: 1.15rem;
}

hr {
  border: none;
  border-top: solid 1px var(--color-primary-alpha);
}

li {
  list-style: none;
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-primary-m1 {
  color: var(--color-primary-m1) !important;
}

.color-primary-m-1 {
  color: var(--color-primary-m-1) !important;
}

.color-surface-a50 {
  color: var(--color-surface-a50) !important;
}

.hidden-element {
  visibility: hidden;
}
.show-element {
  visibility: visible !important;
}

.btn {
  padding: 4px 24px;
  font-family: Blinker;
  font-size: 1.15rem;
  outline: none;
  border-radius: 0.3em;
  cursor: pointer;
  border: none;
}

.btn-outline {
  background-color: var(--color-surface-a10);
  border-color: var(--color-primary-m1);
  color: var(--color-primary-m1);
  transition: background-color 0.3s ease-in-out;
}
.btn-outline:hover {
  background-color: var(--color-surface-a20);
}

.btn-primary { 
  background-color: var(--color-primary-m1);
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.btn-primary:hover { 
  background-color: var(--color-primary);
}

/* Header Section */
.header {
  background-color: var(--color-surface);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo h1 {
  display: inline-block;
  position: relative;
  bottom: 12px;
  left: 10px;
}

.header .menu-icon {
  cursor: pointer;
}

/* Menu */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-container .menu {
  position: fixed;
  top: 0;
  right: -240px;
  min-width: 240px;
  height: 100vh;
  background-color: var(--color-primary);
  transition: right 0.3s ease-in-out;
}

.menu-container.show {
  background-color: rgba(40, 39, 45, 0.9);
  visibility: visible;
}

.menu-container.show .menu {
  visibility: visible;
  right: 0;
}

.menu-container .menu .menu-title {
  text-align: center; 
  border-bottom: solid 1px var(--color-surface-a10);
  color: var(--color-surface-a10);
}

.menu-container .menu {
  padding: 18px;
}

.menu-container .menu ul li {
  margin: 22px 0;
}

.menu-container .menu ul li a {
  color: white;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.menu-container .menu ul li a svg {
  margin-right: 8px;
}

.menu-container .menu-footer {
  color: var(--color-surface-a10);
  bottom: 5px;
  position: absolute;
}

.container {
  padding: 10px 20px;
  min-height: calc(100vh - 81px - 30px);
}

.summary-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.summary-info-text p {
  font-size: 1rem;
  margin-top: 2px;
  color: var(--color-primary-m2);
}

.summary-info-text p strong {
  text-decoration: underline;
}

.summary-info .circle-percent {
  /* border: solid 5px var(--color-surface-a20);
  border-radius: 50%; */
  width: 50px;
  height: 50px;
  position: relative;
}

.circle-percent svg {
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.summary-info .circle-percent p {
  text-align: center;
  line-height: 46px;
  font-size: 16px;
}

.field-add-task {
  margin: 8px auto;
  position: relative;
}

.field-add-task input{
  background-color: var(--color-surface-a10);
  border: solid 1px var(--color-primary-alpha);
  border-radius: 14px;
  color: white;
  font-size: 1.05rem;
  width: 100%;
  padding: 8px 14px;
  padding-right: 40px;
}

.field-add-task input:focus {
  outline: none;
  border-color: var(--color-primary-m1);
}

.field-add-task svg {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  visibility: hidden;
}

.field-add-task small {
  font-weight: 300;
  color: var(--color-surface-a50);
}

.btn-add-task {
  position: absolute;
  right: 0px;
  bottom: -7px;
  width: 57px;
  height: 20px;
  background-color: var(--color-primary-m1);
  color: white;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.pending-tasks, .completed-tasks, .deleted-tasks {
  margin: 8px auto;
}

.task {
  margin: 12px 0;
  display: flex;
  align-items: flex-start;
  column-gap: 6px;
}

.task .drag-handle {
  cursor: grab;
  display: flex;
  align-items: center;
  padding-right: 4px; /* Pequeño espacio entre el manejador y el texto */
}

.task .drag-handle:active {
  cursor: grabbing;
}

.task p {
  background-color: var(--color-surface-a20);
  border-radius: 6px;
  flex-grow: 1;
  padding: 8px 10px;
  min-height: 2.43rem;
  /* max-width: calc(100% - 5.86rem); */
  overflow-wrap: anywhere;
}
.task p:focus {
  outline: none;
  border: solid 1px var(--color-primary-m1);
}

.task button {
  flex-shrink: 0;
  width: 2.43rem;
  height: 2.43rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task .btn-done, .task .btn-restore {
  background-color: var(--color-primary-m1);
  color: white;
}
.task .btn-done:hover {
  background-color: var(--color-primary);
}

.task .btn-delete {
  background-color: var(--color-surface-a20);
  border: none;
}
.task .btn-delete:hover {
  border: solid 1px var(--color-primary-m-1)
}

.task a {
  flex-shrink: 0;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  width: fit-content;
  max-width: 350px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  z-index: 2000;
}

.alert.show {
  visibility: visible;
  opacity: 1;
  animation: slideDown 0.5s ease-out;
}

.alert p {
  background-color: #cd3c04DD;
  padding: 6px 18px;
  border-radius: 8px;
  text-align: center;
  text-wrap: wrap;
}

.add-task {
  margin: 12px 0;
  width: 100%;
  display: flex;
}

.add-task button {
  background-color: #FFFFFF00;
  border: none;
  color: var(--color-primary-m1);
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2px;
  font-size: 0.9rem;
}

.add-task:hover button,
.add-task:hover hr {
  color: var(--color-primary);
  cursor: pointer;
}
.add-task:hover svg  {
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
}

.add-task button hr {
  color: var(--color-primary-m1);
  width: calc(100% - 6rem);
  height: 0;
  border-top: 0;
  position: relative;
  top: 2px;
}

.completed-tasks {
  margin-bottom: 42px;
}

.completed-tasks .btn-restore {
  background-color: var(--color-surface-a20);
  color: var(--color-primary-m1);
}
.task .btn-restore:hover {
  border: solid 1px var(--color-primary-m1);
}

.completed {
  color: var(--color-surface-a50);
}

footer {
  background-color: #cd3c04;
  padding: 8px;
  font-size: .8rem;
  text-align: center;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}

a {
  text-decoration: none;
  color: #fc956d;
  font-weight: bold;
}

/* Modal */
.container-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}
.container-modal.show {
  background-color: rgba(40, 39, 45, 0.9);
  visibility: visible;
}

.modal {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  /* height: 350px; */
  background-color: var(--color-surface-a10);
  visibility: hidden;
}
.container-modal.show .modal {
  visibility: visible;
}

.modal .modal-header {
  background-color: var(--color-surface);
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  padding: 14px 0;
  position: relative;
}

.modal .modal-header p {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.modal .modal-header .btn-close-modal {
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: pointer;
}

.modal-body {
  position: relative;
  width: 100%;
  padding: 22px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.modal-body .form-group {
  display: flex;
  flex-direction: column;
}

.modal-body .form-group *{
  margin-bottom: 4px;
}

.modal-body small {
  color: var(--color-primary-m1);
  padding-right: 5px;
}

.modal-body label {
  color: var(--color-surface-a50);
}

.modal-body input[type="file"]::file-selector-button {
  font-weight: bold;
  color: var(--color-primary-m1);
  padding: 0.5em;
  border: thin solid var(--color-primary-m1);
  border-radius: 3px;
  background-color: var(--color-surface-a10);
  width: 120px;
}

.modal-body .modal-buttons {
  margin: 8px 0;
  width: 100%;
  display: flex;
  justify-content: end;
}



