@font-face {
  font-family: "Blinker";
  src: url(fonts/Blinker/Blinker-Regular.ttf);
  font-weight: normal;
}

:root {
  --color-primary: #fb5f22;
  --color-primary-m1: #fb713b;
  --color-primary-m2: #fc8354;
  --color-primary-m-1: #fb4d09;
  --color-primary-alpha: #fb5f2288;

  --color-surface: #28272D;
  --color-surface-a10: #33313a;
  --color-surface-a20: #494750;
  --color-surface-a30: #605f67;
  --color-surface-a40: #79777e;
  --color-surface-a50: #929197;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Blinker", sans-serif;
  color: white;
  font-size: 14px;
  background-color: #404040;
}


body {
  max-width: 450px;
  margin: 0 auto;
  background-color: var(--color-surface-a10);
}

h2 {
  font-size: 1.15rem;
}

hr {
  border: none;
  border-top: solid 1px var(--color-primary-alpha);
}

.color-primary {
  color: var(--color-primary) !important;
}

.color-primary-m1 {
  color: var(--color-primary-m1) !important;
}

.color-primary-m-1 {
  color: var(--color-primary-m-1) !important;
}

.color-surface-a50 {
  color: var(--color-surface-a50) !important;
}

.hidden-element {
  visibility: hidden;
}
.show-element {
  visibility: visible !important;
}

.header {
  background-color: var(--color-surface);
  padding: 16px;
}

.header .logo h1 {
  display: inline-block;
  position: relative;
  bottom: 12px;
  left: 10px;
}

.container {
  padding: 10px 20px;
  min-height: calc(100vh - 81px - 30px);
}

.summary-info {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
}

.summary-info-text p {
  font-size: 1rem;
  margin-top: 2px;
  color: var(--color-primary-m2);
}

.summary-info-text p strong {
  text-decoration: underline;
}

.summary-info .circle-percent {
  /* border: solid 5px var(--color-surface-a20);
  border-radius: 50%; */
  width: 50px;
  height: 50px;
  position: relative;
}

.circle-percent svg {
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.summary-info .circle-percent p {
  text-align: center;
  line-height: 46px;
  font-size: 16px;
}

.field-add-task {
  margin: 8px auto;
  position: relative;
}

.field-add-task input{
  background-color: var(--color-surface-a10);
  border: solid 1px var(--color-primary-alpha);
  border-radius: 14px;
  color: white;
  font-size: 1.05rem;
  width: 100%;
  padding: 8px 14px;
  padding-right: 40px;
}

.field-add-task input:focus {
  outline: none;
  border-color: var(--color-primary-m1);
}

.field-add-task svg {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  visibility: hidden;
}

.field-add-task small {
  font-weight: 300;
  color: var(--color-surface-a50);
}

.pending-tasks, .completed-tasks {
  margin: 8px auto;
}

.task {
  display: flex;
  flex-wrap: wrap;
  margin: 12px auto;
}

.task p {
  background-color: var(--color-surface-a20);
  border-radius: 6px;
  /* flex-grow: 1; */
  padding: 8px 10px;
  min-height: 2.43rem;
  width: calc(100% - 5.46rem);
  overflow-wrap: break-word;
}
.task p:focus {
  outline: none;
  border: solid 1px var(--color-primary-m1);
}

.task small {
  font-weight: 300;
  color: var(--color-primary-m1);
  /* position: absolute; */
}

.task button {
  width: 2.43rem;
  height: 2.43rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task .btn-done, .task .btn-restore {
  margin: 0 0.3rem;
  background-color: var(--color-primary-m1);
  color: white;
}
.task .btn-done:hover {
  background-color: var(--color-primary);
}

.task .btn-delete {
  background-color: var(--color-surface-a20);
  border: none;
  color: rgb(179, 8, 8);
}
.task .btn-delete:hover {
  border: solid 1px var(--color-primary-m-1)
  /* background-color: rgb(179, 8, 8, .2); */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.alert {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  width: fit-content;
  max-width: 350px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.alert.show {
  visibility: visible;
  opacity: 1;
  animation: slideDown 0.5s ease-out;
}

.alert p {
  background-color: #cd3c04DD;
  padding: 6px 18px;
  border-radius: 8px;
  text-align: center;
  text-wrap: wrap;
}

.add-task {
  margin: 12px 0;
  width: 100%;
  display: flex;
}

.add-task button {
  background-color: #FFFFFF00;
  border: none;
  color: var(--color-primary-m1);
  width: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2px;
  font-size: 0.9rem;
}

.add-task:hover button,
.add-task:hover hr {
  color: var(--color-primary);
  cursor: pointer;
}
.add-task:hover svg  {
  border-radius: 50%;
  background-color: var(--color-primary);
  cursor: pointer;
}

.add-task button hr {
  color: var(--color-primary-m1);
  width: calc(100% - 6rem);
  height: 0;
  border-top: 0;
  position: relative;
  top: 2px;
}

.completed-tasks {
  margin-bottom: 42px;
}

.completed-tasks .btn-restore {
  background-color: var(--color-surface-a20);
  color: var(--color-primary-m1);
}
.task .btn-restore:hover {
  border: solid 1px var(--color-primary-m1);
}

.completed {
  color: var(--color-surface-a50);
}

footer {
  background-color: #cd3c04;
  padding: 8px;
  font-size: .8rem;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}

a {
  text-decoration: none;
  color: #fc956d;
  font-weight: bold;
}

/* Modal add task */
.modal {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #28272DEE;
  visibility: hidden;
}

.modal-newtask {
  top: 24px;
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto;
  background-color: var(--color-surface-a10);
  border-top: solid 36px var(--color-primary);
  border-radius: 12px;
  padding: 12px 22px;
}


.modal-newtask .modal-header {
  position: absolute;
  top: -28px;
  font-size: 1.2rem;
  text-align: center;
  width: inherit;
}

.modal-newtask .btn-close-modal {
  position: absolute;
  top: -28px;
  right: 10px;
  cursor: pointer;
}

.modal-newtask textarea {
  background-color: var(--color-surface-a20);
  border: none;
  border-radius: 8px;
  width: 100%;
  color: white;
  border: solid 1px var(--color-surface-a20);
  padding: 8px;
  font-family: Blinker;
  font-size: 1rem;
}
.modal-newtask textarea:focus {
  outline: none;
  border: solid 1px var(--color-primary-m1);
}
.modal-newtask textarea:focus {
  outline: none;
  border: solid 1px var(--color-primary-m1);
}

.modal-newtask textarea::placeholder {
  font-family: Blinker;
  color: var(--color-surface-a50);
}

.modal-newtask small {
  color: var(--color-surface-a50);
}

.modal-newtask .modal-buttons {
  margin: 8px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-newtask .modal-buttons button {
  width: 48%;
  padding: 4px 0;
  font-family: Blinker;
  font-size: 1.15rem;
  outline: none;
  border: solid 1px var(--color-surface-a10);
  border-radius: 8px;
}

.modal-newtask .modal-buttons .btn-cancel {
  background-color: var(--color-surface-a10);
  color: var(--color-primary-m1);
  border-color: var(--color-primary-m1);
}
.modal-newtask .modal-buttons .btn-cancel:hover {
  background-color: var(--color-surface-a20);
}

.modal-newtask .modal-buttons .btn-save { 
  background-color: var(--color-primary-m1);
  color: white;
}
.modal-newtask .modal-buttons .btn-save:hover { 
  background-color: var(--color-primary);
}



