:root {
  --color-primary: #fb5f22;
  --color-primary-m1: #fb713b;
  --color-primary-m1: #fc8354;
  --color-primary-m-1: #fb4d09;

  --color-surface: #28272D;
  --color-surface-a10: #33313a;
  --color-surface-a20: #494750;
  --color-surface-a30: #605f67;
  --color-surface-a40: #79777e;
  --color-surface-a50: #929197;
}