:root {
  --color-primary: #fb5f22;
  --color-primary-m3: #fb713b;
  --color-primary-m2: #fc8354;

  --color-surface: #28272D;
  --color-surface-a10: #33313a;
  --color-surface-a20: #494750;
  --color-surface-a30: #605f67;
  --color-surface-a40: #79777e;
  --color-surface-a50: #929197;
}